body {
  background: #f57c00; /* Materialize orange TODO: Sass/less */
  color: #ffffff;
}

section {
  padding: 0 10px;
}

.nav-wrapper {
  padding: 0 10px;
}

.nav-wrapper img {
  margin: auto 0;
  vertical-align: middle;
}

.nav-wrapper .side-nav {
  background-color: #ff9800;
}

.nav-wrapper .side-nav a {
  color: #ffffff;
}

.nav-wrapper .side-nav li:hover {
  background-color: #f57c00;
}