@import palette

body
	background-color: $primary-color-light
	background-image: url('../img/fresh-snow.png')
	color: $primary-color-text

section
	padding: 0 10px

.nav-wrapper
	padding: 0 10px

	img
		margin: auto 0
		vertical-align: middle

	.side-nav
		background-color: $primary-color

		li:hover
			background-color: $primary-color-dark

		a
			color: $primary-color-light

.switch
	margin: 10px 10px
	label
		color: black

.row
	margin: 10px 10px
	label
		color: black

.collapsible
	.row
		margin: 0
		padding: 10px
	.col.s4
		text-align: center
	.collapsible-body
		background-color: $primary-color
