@import palette

body
    background-color: $primary-color-light
    background-image: url('../img/classy-fabric.png')
    color: $primary-color-text

section
    padding: 0 10px

.nav-wrapper
    padding: 0 10px

    img
        margin: auto 0
        vertical-align: middle

    li:hover
        background-color: $accent-color

    .side-nav
        background-color: $primary-color

        a
            color: $primary-color-light
